<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%= user.username %>'s Breweries</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= user.username %>'s Breweries</h1>
  <ul class="user-list">
    <% user.brewery.forEach((brewery) => { %>
      <li>
        <a href="/users/<%= user._id %>/breweries/<%= brewery._id %>">
          <%= brewery.name %>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="/users"><button>Back to The Collective</button></a>
</body>
</html>
