<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Craft Beers</title>
    <!-- <link href="./css/output.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <img src='/images/cbc-logo-transparent.PNG' class="img-size">
    <h1>My Craft Beers</h1>
    <a href="/users/<%=user._id%>/breweries/new"><button>Add a Craft Beer</button></a>
    <div class="brewery-grid">
      <% breweries.forEach((brewery) => { %>
        <div class="brewery-item">
          <div class="brewery-name"><%= brewery.name %></div>
          <div class="brewery-detail"><%= brewery.beer %></div>
          <div class="brewery-detail"><%= brewery.rating %></div>
          <a href="/users/<%= user._id %>/breweries/<%= brewery._id %>"><button>View</button></a>
        </div>
      <% }) %>
    </div>
      <script>
        const menuToggle = document.getElementById('menu-toggle');
        const menu = document.getElementById('menu');
    
        menuToggle.addEventListener('click', () => {
          menu.classList.toggle('active');
        });
      </script>
  </body>
  
</html>



