<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= brewery.beer %></title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="background">
    <%- include('../partials/_navbar.ejs') %>
    <img src='/images/cbc-logo-transparent.png' class="img-size">
    <h3>Brewery Details</h3>
        <div class="beer-grid beer-item">
        <div><%= brewery.name %></div>
        <div><%= brewery.location %></div>
        <div><a href="<%= brewery.link %>" target="_blank"><%= brewery.link %></a></div>
    </div> 
    <div><h3>Beer Details</h3></div>
    <div class="beer-grid beer-item">
        <div>Name: <%= brewery.beer %></div>
        <div>Style: <%= brewery.type %></div>
        <div>Method: <%= brewery.method %></div>
        <div>Rating: <%= brewery.rating %></div>
        <div>Comments: <%= brewery.comment %></div> 
  </div>
    <% if (userId === currentUserId) { %>
      <a href="/users/<%= userId %>/breweries/<%= brewery._id %>/edit"><button>Edit</button></a>
      <form action="/users/<%= userId %>/breweries/<%= brewery._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
      <div>
        <a href="/users/<%= user._id %>/breweries"><button>Back to My Craft Beer</button></a>
      </div>
    <% } else { %>
      <a href="/users/">
        <button>Back to The Collectve</button>
      </a>
    <% } %>
    <script>
      const menuToggle = document.getElementById('menu-toggle');
      const menu = document.getElementById('menu');

      menuToggle.addEventListener('click', () => {
        menu.classList.toggle('active');
      });
    </script>
  </body>
</html>